@model IEnumerable<LibDB.DAL.TestAuth>
@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5">Базы данных библиотеки</h2>
<hr />

<div class="row">
    <div class="col">
        <div class="row">
            @{
                foreach (var item in Model)
                {
                    <div class="col-md-12">
                        <div class="card shadow-lg mb-3">
                            <p class="card-header text-uppercase">@item.Id. @item.Title</p>
                            @*<img src="~/Images/placeholder.png" class="card-img-top">*@
                            <div class="card-body">
                                <p class="card-text">@item.Description</p>
                            </div>
                            <div class="card-footer">
                                @Html.ActionLink("Просмотр", "List", "TestCards", new { maingroup = item.Id }, new { @class = "btn btn-sm btn-dark float-right" })
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>