@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Базы данных библиотеки</h2>

<div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/legacy.jpg" alt="Наследие">
                <div class="caption">
                    <h3>Наследие</h3>
                    <p>Карточки наследния библиотеки</p>
                    <p>@Html.ActionLink("Подробно", "Index", "Author",null, new { @class = "btn btn-default" })</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/culture.jpg" alt="Культура">
                <div class="caption">
                    <h3>Культура</h3>
                    <p>Карточки наследния библиотеки</p>
                    <p><a href="#" class="btn btn-default" role="button">Подробно</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/history.jpg" alt="История">
                <div class="caption">
                    <h3>История</h3>
                    <p>Карточки наследния библиотеки</p>
                    <p><a href="#" class="btn btn-default" role="button">Подробно</a></p>
                </div>
            </div>
        </div>
</div>