@model LibBD.Models.PageListViewModel<LibDB.DAL.Author>
@using System.Text;
@{
    ViewBag.Title = "Наследие";
}
<h2 class="mt-5">Наследие</h2>
<hr />
<div id="Index">
    @Html.Partial("ListPartial", Model)
</div>
