@model LibBD.Models.PageListViewModel<LibDB.DAL.Card>
@using System.Text;
@{
    ViewBag.Title = "Писатели Клетчины";
}
<h2 class="mt-5">Писатели Клетчины</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        @Html.Action("Side", "Author")
    </div>
    <div class="col-md-9">
        @using (Html.BeginForm())
        {
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="HeritageInput" name="SearchString" placeholder="Поиск..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-dark" value="Поиск" />
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-success" })

                            }
                        }
                    }
                </div>
            </div>
        }
        <div id="Index">
            @Html.Partial("ListPartial", Model)
        </div>
    </div>
</div>

