@model LibBD.Models.PageListViewModel<LibDB.DAL.Author>
@using System.Text;
@{
    ViewBag.Title = "Наследие";
}
<div class="col-md-1">
</div>
<div class="col-md-10" id="Index">
    <h2>Наследие</h2>
    @Html.Partial("ListPartial", Model)
</div>
<div class="col-md-1">
</div>
