@model LibDB.DAL.Author
<div class='car-item col-md-12'>
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.CardTitle</h3>
    </div>
    <div class="panel-body">
        <p><strong>год:</strong> @Model.CardYear</p>
        <p><strong>Автор:</strong> @Model.LastName @Model.FirstName</p>
    </div>
    </div>
</div>

