
@model LibDB.Models.PageListViewModel<LibDB.DAL.TestCard>
@using System.Text
@{
    var maingroupName = Request.RequestContext.RouteData.Values["maingroup"];
    var groupName = Request.RequestContext.RouteData.Values["group"];
    var result = new StringBuilder();
    // стрелка влево
    var liPrevNext = new TagBuilder("li");


    liPrevNext.InnerHtml = Ajax.ActionLink("Первая", "List",
        new { maingroup = maingroupName, group = groupName, page = 1 },
        new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "List" },
        new { @class = "page-link" }
    ).ToString();

    if (Model.CurrentPage <= 1)
    {
        liPrevNext.AddCssClass("disabled");
        liPrevNext.AddCssClass("page-item");
        //liPrevNext.InnerHtml = "<span>Первая</span>";
        liPrevNext.InnerHtml = Ajax.ActionLink("Первая", "List",
            new { maingroup = maingroupName, group = groupName, page = 1 },
            new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "List" },
            new { @class = "page-link" }
        ).ToString();
    }

    result.Append(liPrevNext.ToString());

    if (Model.CurrentPage > 1)
    {
        liPrevNext.InnerHtml = Ajax.ActionLink("«", "List",
            new { maingroup = maingroupName, group = groupName, page = Model.CurrentPage - 1 },
            new AjaxOptions { UpdateTargetId = "List", InsertionMode = InsertionMode.Replace },
            new { @class = "page-link" }
            ).ToString();
    }
    if (Model.CurrentPage <= 1)
    {
        liPrevNext.AddCssClass("disabled");
        liPrevNext.AddCssClass("page-item");
        liPrevNext.InnerHtml = Ajax.ActionLink("«", "List",
        new { maingroup = maingroupName, group = groupName, page = Model.CurrentPage - 1 },
        new AjaxOptions { UpdateTargetId = "List", InsertionMode = InsertionMode.Replace },
        new { @class = "page-link" }
        ).ToString();
    }

    result.Append(liPrevNext.ToString());
    // пейджер
    for (int i = 1; i <= Model.TotalPages; i++)
    {

        var li = new TagBuilder("li");
        if (i == Model.CurrentPage)
        {
            li.AddCssClass("active");
            li.AddCssClass("page-item");
        }
        //var a = new TagBuilder("a");
        //a.MergeAttribute("href", Url.Action("List", new
        //{
        //    group = maingroupName,
        //    page = i
        //}));
        //a.InnerHtml = i.ToString();
        //li.InnerHtml = a.ToString();

        li.InnerHtml = Ajax.RouteLink(
            i.ToString(),
            new { action = "List", maingroup = maingroupName, group = groupName, page = i },
            new AjaxOptions { UpdateTargetId = "List", InsertionMode = InsertionMode.Replace },
            new { @class = "page-link" }
            ).ToString();



        result.Append(li.ToString());
    }
    // стрелка вправо
    liPrevNext = new TagBuilder("li");
    liPrevNext.InnerHtml = Ajax.ActionLink("»", "List",
        new { maingroup = maingroupName, group = groupName, page = Model.CurrentPage + 1 },
        new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "List" },
        new { @class = "page-link" }
    ).ToString();
    if (Model.CurrentPage == Model.TotalPages)
    {
        liPrevNext.AddCssClass("disabled");
        liPrevNext.AddCssClass("page-item");
        liPrevNext.InnerHtml = Ajax.ActionLink("»", "List",
        new { maingroup = maingroupName, group = groupName, page = Model.CurrentPage + 1 },
        new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "List" },
        new { @class = "page-link" }
        ).ToString();
    }

    result.Append(liPrevNext.ToString());

    liPrevNext.InnerHtml = Ajax.ActionLink("Последняя", "List",
        new { maingroup = maingroupName, group = groupName, page = Model.TotalPages },
        new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "List" },
        new { @class = "page-link" }
        ).ToString();

    result.Append(liPrevNext.ToString());
}
@*<nav aria-label="Page navigation example">*@
@{
    if (Model.TotalPages > 1)
    {
        <ul class="pagination justify-content-center mt-5">
            @MvcHtmlString.Create(result.ToString())
        </ul>
    }
}
@*</nav>*@
