@model IEnumerable<LibDB.DAL.Card>

@{
    ViewBag.Title = "Администрирование баз";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5">Базы данных библиотеки</h2>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <img src="~/Images/placeholder.png" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">Писатели Клетчины</h3>
                <p class="card-text">Карточки наследния библиотеки</p>
                <p>@Html.ActionLink("Редактировать", "Heritage", "Admin", null, new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <img src="~/Images/placeholder.png" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">Культура</h3>
                <p class="card-text">Карточки культуры библиотеки</p>
                <p>@Html.ActionLink("Редактировать", "Heritage", "Admin", null, new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="~/Images/placeholder.png" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">История</h3>
                <p class="card-text">Карточки истории библиотеки</p>
                <p>@Html.ActionLink("Редактировать", "Heritage", "Admin", null, new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
</div>
